
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditionals</title>
</head>
<body>
    <center><h1 style="color:aqua">Conditionals</h1></center>
    {% if a > b %}
        {% if a > c %}
            <h1 style="color:chocolate">'a is greatest'</h1>
        {% else %}
            <h1 style="color: crimson;">c is greatest</h1>
        {% endif %}
    {% elif b > c %}
        <h1 style="color: red;">b is greatest</h1>
    {% else %}
        <h1 style="color: crimson;">c is greatest</h1>
    {% endif %}

</body>
</html>